.grid {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #000; /* Black background for visibility */
}


.doodler {
    width: 86px;
    height: 85px;
    background-image: url('doodle.png');
    background-size: cover;
    position: absolute;

}

.platform {
    width: 85px;
    height: 15px;
    background-image: url('platform-image.jpeg');
    background-size: cover;
    position: absolute;
}